---
import Section from '@/components/Section.astro';

import { projects } from '@cv';
---

<Section title="Proyectos">
  <ul>
    {
      projects.map(({ url, description, highlights, name, isActive }) => {
        return (
          <li>
            <article>
              <header>
                <h3>
                  <a
                    href={url}
                    title={`Ver el proyecto ${name}`}
                    target={url ? '_blank' : '_parent'}
                  >
                    {name}
                  </a>

                  {isActive && <span>&bull;</span>}
                </h3>
              </header>
              <p>{description}</p>

              <footer>
                {highlights.map((highlights) => {
                  return <span>{highlights}</span>;
                })}
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }

  article {
    border-radius: 8px;
    border: 1px solid #f2f2f2;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 100%;
  }

  article header {
    flex: 1;
  }

  article h3 {
    margin-bottom: 4px;
  }

  article h3 span {
    color: rgb(0, 169, 28);
  }

  article a {
    color: #111;
  }

  article a:hover {
    text-decoration: underline;
  }

  article p {
    font-size: 0.75rem;
    line-height: 1.2rem;
    padding-bottom: 8px;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    font-size: 0.6rem;
  }

  footer span {
    border-radius: 6px;
    background: #eee;
    color: #444;
    font-size: 0.6rem;
    font-weight: 500;
    padding: 0.2rem 0.6rem;
  }

  @media (width <= 768px) {
    ul {
      margin-inline: 0px;
    }

    article {
      border: none;
      box-shadow: 0 1px 1px #f2f2f2;
      padding: 0 0 16px 0;
    }
  }
</style>
